/* Estilos padrão (para telas maiores ou iguais a 500px) */
.rdp-root {
    --rdp-accent-color: #fff;
    --rdp-accent-background-color: #420a9c;

    --rdp-day-height: 72px;
    --rdp-day-width: 72px;

    --rdp-day_button-height: 70px;
    --rdp-day_button-width: 70px;

    --rdp-day_button-border-radius: 50%;
    --rdp-selected-border: 2px solid #0a9c11;

    --rdp-today-color: #9749e0;

    --rdp-nav_button-height: 60px;
    --rdp-nav_button-width: 55px;

    --rdp-nav-height: 75px;

    --rdp-weekday-opacity: 0.8;
}

.rdp-months {
    width: 100vw;
    display: flex;
    justify-content: center;
    max-width: 100dvw;
    transform: translateX(-2%);
}

/* Estilos para telas menores que 500px */
@media (max-width: 499px) {
    .rdp-root {
        --rdp-day-height: 67px;
        --rdp-day-width: 67px;

        --rdp-day_button-height: 65px;
        --rdp-day_button-width: 65px;

        --rdp-nav_button-height: 65px;
        --rdp-nav_button-width: 65px;

        --rdp-nav-height: 75px;
    }

    .rdp-months {
        transform: translateX(-2%);
        /* ou ajuste como desejar para telas menores */
    }
}

@media (max-width: 449px) {
    .rdp-root {
        --rdp-day-height: 57px;
        --rdp-day-width: 57px;

        --rdp-day_button-height: 55px;
        --rdp-day_button-width: 55px;

        --rdp-nav_button-height: 55px;
        --rdp-nav_button-width: 55px;

        --rdp-nav-height: 65px;
    }

    .rdp-months {
        transform: translateX(-2%);
        /* ou ajuste como desejar para telas menores */
    }
}

@media (max-width: 399px) {
    .rdp-root {
        --rdp-day-height: 50px;
        --rdp-day-width: 50px;

        --rdp-day_button-height: 48px;
        --rdp-day_button-width: 48px;

        --rdp-nav_button-height: 48px;
        --rdp-nav_button-width: 48px;

        --rdp-nav-height: 60px;
    }

    .rdp-months {
        transform: translateX(-3%);
        /* ou ajuste como desejar para telas menores */
    }
}